<div class="row justify-content-end">
    <p>stagiaire@stagiaire.com
      <a href="#" class="mr-2 mt-2">Choisir un autre</a>
    </p>
  </div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" data-toggle="tab" routerLink="/{{id}}/examens" role="tab" aria-controls="nav-examens"
        aria-selected="true">Mes examens</a>
      <a class="nav-item nav-link" data-toggle="tab" routerLink="/{{id}}/resultats" role="tab" aria-controls="nav-resultats"
        aria-selected="false">Mes résultats</a>
    </div>
       
  </nav>

  <div class="mt-2">
    <app-bandeau></app-bandeau>
  </div>