<div class="row justify-content-end">
    <p>{{email}}
      <a routerLink="/{{id}}/profil" class="mr-2 mt-2">Editer mon profil</a>
      <a routerLink="/choix-stagiaires" class="mr-2 mt-2">Choisir un autre</a>
    </p>
  </div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link"  routerLink="/{{id}}/examens"
         routerLinkActive="active">Mes examens</a>
      <a class="nav-item nav-link"  routerLink="/{{id}}/resultats" 
         routerLinkActive="active">Mes résultats</a>
    </div>
       
  </nav>

  <div class="mt-2">
    <app-bandeau></app-bandeau>
  </div>