<app-header></app-header>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date/heure de passage</th>
            <th>Libellé</th>
            <th>Note (/20)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let r of resultats">
        <tr>
            <td><i>Date coming soon</i></td>
            <td>{{r.titre}} ({{r.nbQuestions}} questions)</td>
            <td>{{r.noteSur20}}</td>
            <td>
                <a routerLink="{{r.id}}" class="btn btn-primary">Voir le détail</a>
            </td>
        </tr>
    </tbody>
</table>